body {
    margin: 0;
    height: 1000px;
    background-color: rgb(5, 5, 70);
    font-family: '60s Scoreboard', sans-serif;

}

.container {
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.score-board {

    color: red;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 0;



}

.score {
    background-color: rgb(11, 10, 27);
    padding: 10px 40px;
    width: 50px;
    height: 150px;
    text-align: center;


}

.button {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;

}

#reset-btn {
    background-color: rgb(3, 32, 65);
    color: bisque;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    padding: 12px;

}